*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
}
input,button{
    padding: 10px;
    border: 2px solid black;
    outline: none;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #55342B;
    font-size: 18px;
    color: white;
    /* max-width: 250px; */
}
button{
    background-color: burlywood;
    cursor: pointer;
}
.errmsg{
    color: rgb(227, 19, 19);
    margin: 0 0 10px 10px;
    display: none;
    font-size: 20px;
}
body{
    background-image: url("./num2.jpg");
    
    background-size: 100% 100%; 
    background-attachment: fixed;
    background-repeat: no-repeat;


    }
   


